<!doctype html> 

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>     <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>     <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" />
    <link rel="stylesheet" href="{{ static_url("css/libs/normalize/normalize.css") }}" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

    <!-- Load jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="{{ static_url("js/libs/jquery/jquery-1.10.1.min.js") }}"><\/script>')</script>

    <!-- plugins -->
    <script src="{{ static_url("js/plugins.js") }}"></script>

    <!-- main script -->
    <script src="{{ static_url("js/script.js") }}"></script>

    

    <header>
    </header><!-- end header -->
    <body>

    

    <div id="main">
        <div id="container">
            <h1>{{ page_heading }}</h1>

            <section class="main">
             <div class="search" >
                 <table>
                     <tr>
                         <td width="250px;">
                             <input autocomplete="off" id="address_text_box" type="text" name="q" placeholder="Address..."/>
                             <ul class="results" >
                             </ul>
                         </td>
                         <td width='75px;'>

                             <button type="button" style="width : 65px; height:25px;" onclick="submit();">Submit</button>

                         </td>

                     </tr>

                 </table>
                 

             </div>
            <center>
                <div class="errorMessage">
                    <p> Please enter a valid address</p>
                </div>
            </center>
            

            <div class="CSSTableGenerator" >
                <table id='resultsTable'>
                    <tr>
                        <td>LocationId</td>
                       <td>Name</td>
                       <td>Type</td>
                       <td>Food Items</td>
                       <td>Address</td>
                       <td>Latitude</td>
                       <td>Longitude</td>
                       <td>Status</td>
                       <td>Distance (miles)</td>
                    </tr>
                    
                </table>
            </div>
            
        </section>
        </div><!-- end container -->
    </div><!-- end main -->

    <script type="text/javascript">

        /**
         * ready function to run on page load
         */
        $( document ).ready(function() {
            console.log( "ready!" );
            $(".results").hide();
            $(".errorMessage").hide();
            $(".CSSTableGenerator").hide();
        });

        /**
         * loadAddressToTextBox loads the Address to text box from the list when selected
         */
        function loadAddressToTextBox(text){
            console.log('loadAddressToTextBox');
            $(".results").hide();
            jQuery('#address_text_box').val(text.name);
            console.log('address loaded');
        }

        /**
         *  On input to address Text box event
         */
        jQuery('#address_text_box').on('input', function(){

            console.log('Data in the box : ' + $( "#address_text_box" ).val());
           // Make a get call to fetch the address for completion
            $.ajax({
             //Local host URL
              //url: "http://localhost:5000/fetchAddress",
              url: "https://lit-spire-7420.herokuapp.com/fetchAddress",
              data: "preaddress=" + $( "#address_text_box" ).val(),
              success: function(data) {
                    console.log(data);
                    addresses = jQuery.parseJSON(data);

                    console.log("response -->");
                    console.log(addresses);

                    $( ".results" ).empty();
                    $(".results").show();
                    console.log('SearchAddress called');
                    for (var address in addresses) {
                        console.log('inside for');
                        console.log(address);
                        console.log(addresses[address]);
                        $(".results").append("<li ><a href=\"#\" onClick=\"loadAddressToTextBox(this);\" name=\"" + address + "\" >" + address + "</a></li>");
                    }
                }
              
            });

            $("#address_text_box").focus(function(){
              $('.results').css("display","block");
            });
            
        });
        
        /**
         *  submit method submits the input and makes an Ajax call to the 
         *  backend to fetch the closest locations
         */
        function submit(){

            console.log('Submit method called');
            console.log($("#address_text_box").val().length);
            $(".CSSTableGenerator").hide();
            deleteRows();
            if($("#address_text_box").val().length > 0){

                $.ajax({
                 //Local host URL
                  //url: "http://localhost:5000/fetchNeighborsFromAddress",
                  url: "https://lit-spire-7420.herokuapp.com/fetchNeighborsFromAddress",
                  data: "address=" + $( "#address_text_box" ).val(),
                  success: function(data) {
                        console.log(data);
                        result = JSON.parse(data);
                        console.log(result);
                        console.log(result['success']);

                        if(result['success']){
                            
                            loadResults(result['result']);
                        } else{

                            $(".errorMessage").fadeIn();
                        }
                    }
                  
                });
            } else {

                alert('Address field cannot be empty');
            }
            
        }

        /**
         *  loadResults method loads the response (if success) to the table
         */
        function loadResults(result){

            console.log(result);

            for (var k in result) {

                console.log(result[k]);
                data = result[k];
                //Result is success. Show results on screen
                // Find a <table> element with id="myTable":
                var table = document.getElementById("resultsTable");
                var rowCount = table.rows.length;
                // Create an empty <tr> element and add it to the 1st position of the table:
                var row = table.insertRow(rowCount);

                // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                var locationId  = row.insertCell(0);
                var name        = row.insertCell(1);
                var type        = row.insertCell(2);
                var foodItems   = row.insertCell(3);
                var address     = row.insertCell(4);
                var latitude    = row.insertCell(5);
                var longitude   = row.insertCell(6);
                var status      = row.insertCell(7);
                var distance    = row.insertCell(8);

                // Add text to the new cells:
                locationId.innerHTML    = k;
                name.innerHTML          = data['name'];
                type.innerHTML          = data['type'];
                foodItems.innerHTML     = data['food'];
                address.innerHTML       = data['address'];
                latitude.innerHTML      = data['latitude'];
                longitude.innerHTML     = data['longitude'];
                status.innerHTML        = data['status'];
                distance.innerHTML      = data['distance'];

            }
            $(".CSSTableGenerator").fadeIn();

        }
 
        function deleteRows(){
            console.log('deleteRows');
            var tbl = document.getElementById("resultsTable");
            var tblRows = document.getElementById("resultsTable").getElementsByTagName("tr").length;
            if(tblRows > 1){
                console.log("calling delete");
                tbl.deleteRow(1);
                deleteRows();
            }
        }
        
    </script>
    </body>
    <footer>
    </footer><!-- end footer -->
</html>