<!doctype html> 

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>     <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>     <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" />
    <link rel="stylesheet" href="{{ static_url("css/libs/normalize/normalize.css") }}" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

    <!-- Load jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="{{ static_url("js/libs/jquery/jquery-1.10.1.min.js") }}"><\/script>')</script>

    <header>
    </header><!-- end header -->
    <body>

    

    <div id="main">
        <div id="container">
            <h1>{{ page_heading }}</h1>
            <div align="center">
                <input type="radio" name="group1" id="addressRadioButton" value="Address" checked> Address
                 <input type="radio" name="group1" id="locationRadioButton" value="Location"> Location<br>
            </div>
            <section class="main">
            <div align="center">
                <table>
                     <tr>
                         <td width="150px;">
                            <input autocomplete="off" id="latitude_text_box" type="text" name="la" placeholder="Latitude..."/>
                         </td>
                         <td width='150px;'>
                         <input autocomplete="off" id="longitude_text_box" type="text" name="la" placeholder="Longitude..."/>
                         </td>

                     </tr>


                 </table>
            </div>
            <br>
             <div class="search" >
                 <table>
                     <tr>
                         <td width="250px;">
                             <input autocomplete="off" id="address_text_box" type="text" name="q" placeholder="Address..."/>
                             <ul class="results" >
                             </ul>
                         </td>
                         <td width='75px;'>

                             <button type="button" style="width : 65px; height:25px;" onclick="submit();">Submit</button>

                         </td>

                     </tr>

                 </table>
                 

             </div>
            <center>
                <div class="errorMessage">
                    <p> Please enter a valid address</p>
                </div>
            </center>
            

            <div class="CSSTableGenerator" >
                <table id='resultsTable'>
                    <tr>
                        <td>LocationId</td>
                       <td>Name</td>
                       <td>Type</td>
                       <td>Food Items</td>
                       <td>Address</td>
                       <td>Latitude</td>
                       <td>Longitude</td>
                       <td>Status</td>
                       <td>Distance (miles)</td>
                    </tr>
                    
                </table>
            </div>
            
        </section>
        </div><!-- end container -->
    </div><!-- end main -->
    </body>
    <!-- main script -->
    <script src="{{ static_url("js/script.js") }}"></script>
    <footer>
    </footer><!-- end footer -->
</html>